<%- include ('./partials/header.ejs') -%>
<div class="container">
    <form action="/cv/updateJob/<%=data._id%>" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="formGroupExampleInput">Avatar</label>
            <input type="file"  name="image" id="formGroupExampleInput" placeholder="Avatar">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Company</label>
            <input type="text" class="form-control" value="<%=data.companyName%>" name="company" id="formGroupExampleInput2" placeholder="Company">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Job</label>
            <input type="text" class="form-control" name="job" value="<%=data.jobName%>" id="formGroupExampleInput2" placeholder="Job">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Salary</label>
            <input type="number" class="form-control" name="salary" value="<%=data.salary%>" id="formGroupExampleInput2" placeholder="Salary">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Location</label>
            <input type="text" class="form-control" name="location"  value="<%=data.location.name%>" id="formGroupExampleInput2" placeholder="Location">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Description</label>
            <input type="text" class="form-control" name="desc" value="<%=data.desc%>" id="formGroupExampleInput2" placeholder="Description">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Duration</label>
            <input type="text" class="form-control" name="duration" value="<%=data.duration%>" id="formGroupExampleInput2" placeholder="Duration">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Category</label>
            <br>
            <select name="category" id="formGroupExampleInput2" class="form-control" style="width:800px">
                <% categories.forEach((item) => {%>
                    <option value="<%= item._id%>"> <%= item.name%></option>
                <% })%>
            </select>
        </div>
        <br>
        <div class="form-group">
            <br>
            <label for="formGroupExampleInput2">Location</label>
            <br>
            <select name="location" id="formGroupExampleInput2" class="form-control" style="width:800px">
                <% locations.forEach((item) => {%>
                    <option value="<%= item._id%>"> <%= item.name%></option>
                <% })%>
            </select>
        </div>
        <br>
        <br>
        <button type="submit" class="btn btn-primary mb-3">Update</button>
    </form>
</div>
<%- include ('./partials/footer.ejs') -%>


